* {
    padding: 0;
    margin: 0 0px;
}

li {
    list-style-type:none;
    margin: 0 15px;
}

    li > ul {
        display:none;
        color:gray;
    }
    ul > li:hover > span {
    text-decoration:underline;
}
ul li:hover>ul {
    display:block;
}

